{% extends 'base.html' %}
{% block title %}User Details{% endblock %}
{% block content %}
   <ul>
      <li>Username: {{user.username}}</li>
      <li>Email: {{user.email}}</li>
      <li>First Name: {{user.first_name}}</li>
      <li>Last Name: {{user.last_name}}</li>
   </ul>
   <button><a href="/users/{{user.username}}/delete" method="POST">Delete User</a></button>
   
   <h2>{{user.username}}'s Feedback Feed:</h2>
   {% for feedback in user.user_feedbacks %}
      <div>
         --------------------<br>
         {{feedback.title}}<br>
         {{feedback.content}}<br>
         <a href="/feedback/{{feedback.id}}/update">Edit</a>
         <form action="/feedback/{{feedback.id}}/delete" method="POST">
            <input type="submit" value="Delete Feedback">
         </form>
         <br>
         --------------------<br><br>  
      </div>
   {% endfor %}


   <button><a href="/logout">Logout</a></button>
   <button><a href="/users/{{user.username}}/feedback/add">Add Feedback</a></button>
{% endblock %}